<%- include ("./layout/header") -%>

<script src="/highscorelist.js" defer></script>
<main class="flex flex-col justify-center items-center  mt-5">
  <h1 class="text-4xl font-bold mb-5">Highscores</h1>
  <div class="wordle-box h-fit max-w-full mb-10 bg-white opacity-50 items-center rounded"><ul class=" highscore-list">

  </ul></div>
  
  
</main>
<%- include ("./layout/footer") -%>
</body>
</html>