<%- include ("./layout/header") -%>
<%- include ("./layout/footer") -%>
<main class="flex flex-col justify-center items-center h-full mt-16">
  <div class="wordle-box h-96 w-96 bg-slate-300 items-center" id="root">hej</div>
  
  
</main>
</body>
</html>